# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [4]:
import pandas as pd

In [5]:
banks = pd.read_csv('banklist.csv')

** Show the head of the dataframe **

In [8]:
# CODE HERE
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [ ]:
# CODE HERE

In [9]:
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
# CODE HERE

In [12]:
number_of_states = banks['ST'].nunique()
print(number_of_states)

44

** Get a list or array of all the states in the data set. **

In [ ]:
# CODE HERE

In [14]:
states_list = banks['ST'].unique()
print(states_list)

['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

** What are the top 5 states with the most failed banks? **

In [ ]:
# CODE HERE

In [23]:
top_states = banks['ST'].value_counts().head(5)
print(top_states)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [ ]:
# CODE HERE

In [24]:
top_acquiring_institutions = banks['Acquiring Institution'].value_counts().head(5)
print(top_acquiring_institutions)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [ ]:
# CODE HERE

In [38]:
state_bank_of_texas = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
texas_banks = state_bank_of_texas[state_bank_of_texas['ST'] == 'TX']
state_bank_of_texas.shape[0]
state_bank_of_texas

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [40]:
texas_banks.shape[0]
texas_banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

** What is the most common city in California for a bank to fail in?**

In [ ]:
# CODE HERE

In [47]:
common_california_city = banks.groupby('City').size().sort_values(ascending = False).head(1)
print(common_california_city)

City
Chicago    18
dtype: int64

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
# CODE HERE

In [51]:
no_bank_name = banks[~banks['Bank Name'].str.contains('Bank', case = False , na = False)]
no_bank_name_count = no_bank_name.shape[0]
print(no_bank_name_count)

10

** How many bank names start with the letter 's' ? **

In [ ]:
# CODE HERE

In [53]:
bank_name_start_s = banks[banks['Bank Name'].str.startswith('S', na = False)]
bank_name_start_s_count = bank_name_start_s.shape[0]
print(bank_name_start_s_count)

53

** How many CERT values are above 20000 ? **

In [ ]:
# CODE HERE

In [57]:
CERT_values = banks[banks['CERT'] > 20000]
CERT_values_count = CERT_values.shape[0]
print(CERT_values_count)

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [ ]:
# CODE HERE

In [60]:
two_word_banks = banks[banks['Bank Name'].str.split().str.len() == 2]
two_word_banks_count = two_word_banks.shape[0]
print(two_word_banks_count)

114

How many banks closed in the year 2008?

In [ ]:
# CODE HERE

In [71]:
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'], errors = 'coerce')
banks_closed_2008 = banks[banks['Closing Date'].dt.year == 2008]
banks_closed_2008_count = banks_closed_2008.shape[0]
print(banks_closed_2008_count)

25

# GREAT JOB!