## Loading/Exploring the data

Load the iris.csv file into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [12]:
import pandas as pd

Read the `iris.csv` dataset into an object named `iris`

In [13]:
iris = pd.read_csv('iris.csv')

How many different species are in this dataset?

In [16]:
different_species_count = iris['species'].nunique()
print(different_species_count)

3

What are their names?

In [18]:
species_names = iris['species'].unique()
print(species_names)

['setosa' 'versicolor' 'virginica']

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [20]:
no_samples_species = iris['species'].value_counts()
print(no_samples_species)

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [23]:
iris['sepal_ratio'] = iris['sepal width (cm)'] / iris['sepal length (cm)']
print(iris.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  species  sepal_ratio
0  setosa     0.686275
1  setosa     0.612245
2  setosa     0.680851
3  setosa     0.673913
4  setosa     0.720000

Create a similar column called `'petal_ratio'`: petal width / petal length

In [24]:
iris['petal_ratio'] = iris['petal width (cm)'] / iris['sepal length (cm)']
print(iris.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  species  sepal_ratio  petal_ratio
0  setosa     0.686275     0.039216
1  setosa     0.612245     0.040816
2  setosa     0.680851     0.042553
3  setosa     0.673913     0.043478
4  setosa     0.720000     0.040000

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [28]:
# To convert from (cm) to (in) we divide by 2.54
iris['sepal length (in)'] = iris['sepal length (cm)'] / 2.54
iris['sepal width (in)'] = iris['sepal width (cm)'] / 2.54
iris['petal length (in)'] = iris['petal length (cm)'] / 2.54
iris['petal width (in)'] = iris['petal width (cm)'] / 2.54
print(iris.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  species  sepal_ratio  petal_ratio  sepal length (in)  sepal width (in)  \
0  setosa     0.686275     0.039216           2.007874          1.377953
1  setosa     0.612245     0.040816           1.929134          1.181102
2  setosa     0.680851     0.042553           1.850394          1.259843
3  setosa     0.673913     0.043478           1.811024          1.220472
4  setosa     0.720000     0.040000           1.968504          1.417323

   petal length (in)  petal width (in)
0           0.551181           0.07874
1           0.551181           0.07874
2           0.511811           0.07874
3           0.590551           0.07874
4           0.551181           0.07874

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


Hint 1
Create a dictionary using the species as keys and the numbers 0-2 for values


Hint 2
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column

In [35]:
species_dictionary = {'setosa' : 0 , 'versicolor' : 1 , 'virginica' : 2}
iris['encode_species'] = iris['species'].apply(lambda x: species_dictionary[x])
print(iris['encode_species'])

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: encode_species, Length: 150, dtype: int64

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [44]:
seeds = pd.read_csv('ncaa-seeds.csv')

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [45]:
seeds['team_division'] = seeds['team_seed'].apply(lambda x: x[-1])
seeds['opponent_division'] = seeds['opponent_seed'].apply(lambda x: x[-1])
print(seeds.head(1))

  team_seed opponent_seed team_division opponent_division
0       01N           16N             N                 N

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

In [46]:
seeds['team_seed'] = seeds['team_seed'].apply(lambda x: int(x[:-1]))
seeds['opponent_seed'] = seeds['opponent_seed'].apply(lambda x: int(x[:-1]))
print(seeds.head(1))

   team_seed  opponent_seed team_division opponent_division
0          1             16             N                 N

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>

In [48]:
seeds['seed_delta'] = seeds['team_seed'] - seeds['opponent_seed']
print(seeds)

    team_seed  opponent_seed team_division opponent_division  seed_delta
0           1             16             N                 N         -15
1           2             15             N                 N         -13
2           3             14             N                 N         -11
3           4             13             N                 N          -9
4           5             12             N                 N          -7
5           6             11             N                 N          -5
6           7             10             N                 N          -3
7           8              9             N                 N          -1
8           1             16             S                 S         -15
9           2             15             S                 S         -13
10          3             14             S                 S         -11
11          4             13             S                 S          -9
12          5             12             S                 S          -7
13          6             11             S                 S          -5
14          7             10             S                 S          -3
15          8              9             S                 S          -1
16          1             16             E                 E         -15
17          2             15             E                 E         -13
18          3             14             E                 E         -11
19          4             13             E                 E          -9
20          5             12             E                 E          -7
21          6             11             E                 E          -5
22          7             10             E                 E          -3
23          8              9             E                 E          -1
24          1             16             W                 W         -15
25          2             15             W                 W         -13
26          3             14             W                 W         -11
27          4             13             W                 W          -9
28          5             12             W                 W          -7
29          6             11             W                 W          -5
30          7             10             W                 W          -3
31          8              9             W                 W          -1